  <header class="intro-header" id="postbg">
    <div class="container">
        <div class="row ">
            <div class="col-md-8 col-md-offset-1">
                <div class="post-heading">
                    <h1><%= @article.title %></h1>
                    <h2 class="subheading"></h2>
                    <h1 class="meta">Posted by <%= @article.author %> on <%= @article.created_at.strftime('%a, %b %d') %></h1>
                </div>
            </div>
        </div>
    </div>
  </header>
  <article>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p class="post-title"><%= @article.text %></p>
          <hr>
          <ul class="pager">
            <% if user_signed_in? %>
                <li><%= link_to 'Edit', edit_article_path(@article), class:'nav-link' %></li>
            <% end %>
            <li><%= link_to 'Back', articles_path, class:'nav-link' %></li>
          </ul>
       </div> 
    </div>
   </div>
 </article>
  
