<!--Header-->
<header class="intro-header" id="mainbg" >
    <div class="container">
        <div class="row">
            <div class=" col-md-10 col-md-offset-1">
                <div class="site-heading ">
                    <h1>The Block</h1>
                    <hr class="small">
                    <span class="subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Main Content-->
    <div class="row text-center banner">
        <h1 class="text-center">Choose the size that works for you</h1>
        <table class="post-preview">
            <tr class="">
    	        <td class="post-title text-center">Eighth Page Ad</td>
    	    </tr>
            <tr class="">
                <td>
                    <div class="flip-container" style="display: inline-block">
                    	<div class="notflipper">
                    		<div class="dummy">
                    			<%= image_tag("eighth-icon.svg", class: "paper-icon") %>
                    		</div>
                    	</div>
                	</div>
            	</td>
        	</tr>
	    </table>
	    <table class="post-preview">
	        <tr>
            	<td class="post-title text-center">Quarter Page Ad</td>
            </tr>
            <tr class="">
                <td> 
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                    	<div class="flipper">
                    		<div class="front">
                    			<%= image_tag("quarter-horizontal-icon.svg", class: "paper-icon") %>
                    		</div>
                    		<div class="back">
                		     	<%= image_tag("quarter-vertical-icon.svg", class: "paper-icon") %>
                    		</div>
                    	</div>
                    </div>
            	</td>
        	</tr>
        </table>
        <table class="post-preview">
            <tr>
            	<td class="post-title text-center">Half Page Ad</td>
    	    </tr>
            <tr class="">
                <td>
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                    	<div class="flipper">
                    		<div class="front">
                    			<%= image_tag("half-horizontal-icon.svg", class: "paper-icon") %>
                    		</div>
                    		<div class="back">
                    			<%= image_tag("half-vertical-icon.svg", class: "paper-icon") %>
                    		</div>
                    	</div>
                    </div>
            	</td>
        	</tr>
	    </table>
    	<table class="post-preview">
    	    <tr>
                <td class="post-title text-center">Full Page Ad</td>
        	</tr>
            <tr class="">
                <td>
                    <div class="flip-container" style="display: inline-block">
                    	<div class="notflipper">
                    		<div class="dummy">
                    			<%= image_tag("full-icon.svg", class: "paper-icon") %>
                    		</div>
                    	</div>
                	</div>
        		</td>
        	</tr>
    	</table>
    </div>
<!--Blog updates-->
<div class="container">
<div class="container-fluid">
    <!--<div class="row border">-->
        <!--<div class="container-fluid border" >-->
            <div >
                <% if !@articles.first.title.empty? %>
                    <h1 class="text-center">Lastest News</h1>
                    <!--</div>-->
                    <hr>
                    <% @articles.each do |article| %>
                    <div class="text-center post col-md-6 col-md-offset-3">
                        <%= link_to(article) do %>
                            <!--<div class="container">-->
                                <div class="panel panel-default news-post" style="background-image: url('park2.jpg')">
                                    <div class="panel-body">
                                        <h1 class="post-title"><%= article.title %></h1>
                                    </div>
                                    <div class="panel-heading">
                                        <h1 class="post-meta">Posted by <%= article.author %> on <%= article.created_at.strftime('%a, %b %d') %></h1>
                                    </div>
                                </div>
                            <!--</div>-->
                            <% end %>
                            <hr>
                        </div>
                    <% end %>
                    </div>
                    </div>
                    <!--Pager-->
                    <div class="col-md-8 col-md-offset-2 " >
                        <ul class="pager">
                            <li class="" >
                              <%= link_to "Older Posts", articles_path, class: 'nav-link', method: :get %>
                            </li>
                        </ul>
                    </div>
                <% end if %>
        <!--</div>-->
    <br/>
<!--</div>-->
</div>
</div>