<!--Header-->
<header class="intro-header" id="mainbg" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>The Block</h1>
                    <hr class="small">
                    <span class="subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Main Content-->
<div class="container">
    <div class="row">
        <div class="container-fluid" >
            <div class="col-md-8 col-md-offset-2 ">
                <% if !@articles.first.title.empty? %>
                    <h1 class="text-center">Lastest News</h1>
                    </div>
                    <hr>
                    <% @articles.each do |article| %>
                    <div class = "container col-md-8 col-md-offset-2 ">
                        <%= link_to(article) do %>
                        <table class="post-preview">
                            <tr>
                              <th rowspan="2"><%= image_tag("PARK.jpg", width: '150', height: '150', class: "media-object", style: "border: 1px solid #eeeeee") %></th>
                              <td class="post-title"><%= article.title %></td>
                            </tr>
                            <tr>
                              <td class="post-meta">Posted by <%= article.author %> on <%= article.created_at.strftime('%a, %b %d') %></td>
                            </tr>
                        </table>
                        <% end %>
                         <hr>
                    </div>
                    <% end %>
                    </div>
                    <!--Pager-->
                    <div class="col-md-8 col-md-offset-2 " >
                        <ul class="pager">
                            <li class="" >
                              <%= link_to "Older Posts", articles_path, class: 'nav-link', method: :get %>
                            </li>
                        </ul>
                    </div>
                <% end if %>
    </div>
<br/>
</div>
