<header class="intro-header" id="mainbg" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>The Block</h1>
                    <hr class="small">
                </div>
            </div>
        </div>
    </div>
</header>
<br>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="well">
      <h2>Log in</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      
        <div class="field form-group">
          <div class=" borderTop">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          </div>
        </div>
        <div class="field form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>
        <% if devise_mapping.rememberable? -%>
          <div class="field form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
        <ul class="pager">
          <li><%= f.submit "Log in", class: 'nav-link' %></li>
        </ul>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>